/* ---------------------------------- */
/* Header */
/* ---------------------------------- */

.assignment header {
  padding-top: 95px;
  padding-bottom: 75px;
}

.assignment header h1 {
  font-size: 80px;
}

.assignment h1 {
  margin-bottom: 20px;
}


/* ---------------------------------- */
/* Section */
/* ---------------------------------- */

.assignment section {
  padding-top: 20px;
  padding-bottom: 1px;
  background: rgba(81, 78, 78, 1);
  color: #fff;
}

.assignment section h1 {
  font-size: 50px;
}

section.drawing {
  padding-top: 0;
  padding-bottom: 20px;
}


/* ---------------------------------- */
/* Settings Form */
/* ---------------------------------- */

.assignment form {
  font-family: 'Open Sans', serif;
  font-size: 1.1em;
}

.assignment form label,
.assignment form input,
.assignment form output {
  display: inline-block;
}

.assignment .form-group {
  margin-top: 7px;
  margin-bottom: 7px;
}

.assignment form label {
  width: 7%;
}

input:hover,
select:hover {
  cursor: pointer;
}

/* http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid rgba(81, 78, 78, 1);

  /*required for proper track sizing in FF*/
  width: 220px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 220px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(71, 82, 214, 1);
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 220px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(71, 82, 214, 1);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid rgba(81, 78, 78, 1);
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 220px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(71, 82, 214, 1);
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

input[type="range"]:disabled {
  background: rgb(219, 149, 221);
  opacity: 0.2;
}

input[type=button] {
  outline: none;
  border: solid 1px #ccc;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: lowercase;
  color: #474747;
  cursor: pointer;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #ddd, #CECCCC);
  background-image: linear-gradient(top, #ddd, #CECCCC);
}


/* ---------------------------------- */
/* Controls Form */
/* ---------------------------------- */

.assignment section.controls {
  padding-top: 25px;
  padding-bottom: 25px;
  letter-spacing: 1px;
}

.controls .form-group {
  display: inline-block;
  margin-right: 9px;
}

.button {
  display: inline-block;
  width: 130px;
  text-align: center;
  outline: none;
  border: solid 1px #ccc;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: lowercase;
  color: #474747;
  cursor: pointer;
  border-radius: 3px;
  background-image: -moz-linear-gradient(top, #ddd, #CECCCC);
  background-image: -webkit-linear-gradient(top, #ddd, #CECCCC);
  background-image: linear-gradient(top, #ddd, #CECCCC);
}

.button-small {
  width: 115px;
}

.button:hover {
  background-image: -moz-linear-gradient(top, #C7C7C7, #B9B8B8);
  background-image: -webkit-linear-gradient(top, #C7C7C7, #B9B8B8);
  background-image: linear-gradient(top, #C7C7C7, #B9B8B8);
  color: #fff;
  border: solid 1px #B8B8B8;
}

.icon {
  margin-right: 5px;
}

.actions {
  margin-left: 10px;
}


/* ---------------------------------- */
/* Side Controls  */
/* ---------------------------------- */

.assignment section.side-controls {
  padding-right: 20px;
}

.side-controls {
  float: right;
  padding-left: 0;
}

.side-controls .form-group {
  margin-top: 15px;
}

.side-controls label {
  display: inline-block;
  width: 95px;
}

.side-controls output {
  display: inline-block;
  margin-left: 5px;
  text-align: right;
  width: 20px;
}

.side-controls .actions {
  margin-top: 20px;
}

.with-side-controls {
  padding-left: 40px;
}


/* ---------------------------------- */
/* Camera controls */
/* ---------------------------------- */

.camera-controls {
  position: absolute;
  top: 305px;
  left: 665px;
  color: #CECCCC;
}

.control-row {
  height: 25px;
  text-align: center;
}

.control-row i:hover,
.camera-zoom .box:hover {
  cursor: pointer;
  color: #A5A3A3;
}

.control-icon:focus,
.control-icons:active {
  outline: none;
}

.control-row::selection {
  background-color: #000;
}

.camera-zoom {
  margin-top: 20px;
}

/*.box::selection {
  background-color: #322F2F;
}*/

.camera-zoom .box {
  background: #322F2F;
  border: 1px solid #322;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* ---------------------------------- */
/* Button Toggle */
/* ---------------------------------- */

.toggle {
  display: none;
}

/* ---------------------------------- */
/* Messages */
/* ---------------------------------- */

.message {
  width: 375px;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* ---------------------------------- */
/* Footer */
/* ---------------------------------- */

.assignment footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.assignment footer p {
  margin-bottom: 0;
}


/* ---------------------------------- */
/* Clear fix  */
/* ---------------------------------- */

.group:after {
  content: "";
  display: table;
  clear: both;
}
